/* images */

.avatar-gravatar {
  margin-right: 20px;
  margin-bottom: 10px;
  img {
    vertical-align: baseline;
  }
}

.category-image {
  width: 100%;
  img {
    display: block;
    width: auto;
    max-width: 100%;
    border: 1px solid;
  }
}

.product-image {
  img {
    margin-left: 15px;
    margin-right: 20px;
    margin-bottom: 10px;
    border: 1px solid;
  }
}

.about-me-image {
  img {
    display: inline-block;
    margin-right: 10px;
    width: 100%;
  }
}
