div ng-show="data.orders.items"
  row(ng-repeat="item in data.orders.items")
    li
      ' {{ item.item.name }}
      ' {{ item.amount }}
      ' {{ "ORDERS_INDEX_COUNT" | translate }}
      ' {{ item.price }}
      ' {{ "ORDERS_INDEX_CURRENCY" | translate }}

  row
    li
      ' {{ "ORDERS_INDEX_TOTAL_PRICE" | translate }}:
      b
        ' {{ data.orders.total_price }}
        ' {{ "ORDERS_INDEX_CURRENCY" | translate }}
  row
    li
      ' {{ "ORDERS_INDEX_STATE" | translate }}:
      .red
        ' {{ data.orders.state }}
