div ng-show="data.orders.items"
  row(ng-repeat="item in data.orders.items")
    li
      ' {{ item.item.name }}
      ' {{ item.amount }}
      ' {{ "ORDERS_INDEX_COUNT" | translate }}
      ' {{ item.price }}
      ' {{ "ORDERS_INDEX_CURRENCY" | translate }}
      button(type="button" class="btn btn-default navbar-btn" ng-click="destroyOrderDetail(item.id)")
        ' {{ "ORDERS_INDEX_DESTROY_ORDER_DETAIL" | translate }}

  row
    li
      ' {{ "ORDERS_INDEX_TOTAL_PRICE" | translate }}:
      ' {{ data.orders.total_price }}
      ' {{ "ORDERS_INDEX_CURRENCY" | translate }}
  row
    li
      ' {{ "ORDERS_INDEX_STATE" | translate }}:
      ' {{ data.orders.state }}

  button(type="button" class="btn btn-default navbar-btn" ng-click="closeOrder()")
    ' {{ "ORDERS_INDEX_CLOSE_ORDER" | translate }}

  button(type="button" class="btn btn-default navbar-btn" ng-click="destroyOrder()")
    ' {{ "ORDERS_INDEX_DESTROY_ORDER" | translate }}
